.menu{
    list-style: none;
    background-color:rgba(0, 0, 0, 0.5);
    height: 70px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.menu li{
    color: white;
    float: left;
    margin: 0px 30px;
    font-size: 18px;
}

.menu li:hover{
    opacity: 0.8;
    font-size: 22px;
}